<!doctype html>
<title>Simple Linear Regression App</title>
<h1>House Prices file upload (csv)</h1>
<p>Please Upload a csv file with House Price data or use the default file. Alternatively,
download an example file to populate and upload. Then, enter some fields to
perform a prediction for a house of interest.</p>
<form action="" method=post enctype=multipart/form-data><p></p>
	<label>URL1</label><input type="text" name="url1">
	<label>URL2</label><input type="text" name="url2"><p></p>
	<label>Total Pages</label><input type="text" name="total_pages">
	<label>Site</label><input type="text" name="site"><p></p>
	<input type="submit" name="go" value="Go">
</form>